.NFT-marketplace .collection-NFT {
  height: 619px;
  left: 0;
  position: absolute;
  top: 1862px;
  width: 1442px;
}

.NFT-marketplace .overlap-15 {
  -webkit-backdrop-filter: blur(50px) brightness(100%);
  backdrop-filter: blur(50px) brightness(100%);
  background-color: #d9dfeb33;
  height: 619px;
  position: relative;
  width: 1440px;
}

.NFT-marketplace .text-wrapper-104 {
  color: #000000;
  font-family: "Integral CF-Bold", Helvetica;
  font-size: 28px;
  font-weight: 700;
  left: 121px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 65px;
}

.NFT-marketplace .group-30 {
  height: 366px;
  left: 120px;
  position: absolute;
  top: 154px;
  width: 379px;
}

.NFT-marketplace .unsplash-2 {
  height: 272px;
  left: 0;
  position: absolute;
  top: 0;
  width: 266px;
}

.NFT-marketplace .unsplash-pvoepplw {
  height: 85px;
  left: 275px;
  position: absolute;
  top: 0;
  width: 104px;
}

.NFT-marketplace .unsplash-lpbydenbqqg {
  height: 85px;
  left: 275px;
  position: absolute;
  top: 94px;
  width: 104px;
}

.NFT-marketplace .unsplash-anjqwy-g {
  height: 85px;
  left: 275px;
  position: absolute;
  top: 187px;
  width: 104px;
}

.NFT-marketplace .group-31 {
  height: 64px;
  left: 0;
  position: absolute;
  top: 302px;
  width: 189px;
}

.NFT-marketplace .text-wrapper-105 {
  color: #000000;
  font-family: "DM Sans", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.NFT-marketplace .group-32 {
  height: 28px;
  left: 0;
  position: absolute;
  top: 36px;
  width: 107px;
}

.NFT-marketplace .text-wrapper-106 {
  color: #000000;
  font-family: "DM Sans", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 38px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
}

.NFT-marketplace .ellipse-9 {
  height: 28px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 28px;
}

.NFT-marketplace .frame-8 {
  align-items: center;
  border: 1px solid;
  border-color: #2539ec;
  border-radius: 60px;
  display: flex;
  gap: 4.58px;
  height: 35px;
  justify-content: center;
  left: 260px;
  padding: 10px 20px;
  position: absolute;
  top: 337px;
  width: 120px;

  color: #2539ec;
  font-family: "DM Sans", Helvetica;
  font-size: 11px;
  font-weight: 700;
  height: 14.67px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: none;
  transition: 0.3s;
}

.NFT-marketplace .frame-8:hover {
  background-color: #2539ec;
  color: #ffffff;
}

.NFT-marketplace .group-33 {
  height: 366px;
  left: 530px;
  position: absolute;
  top: 154px;
  width: 379px;
}

.NFT-marketplace .unsplash-3 {
  height: 272px;
  left: 0;
  position: absolute;
  top: 0;
  width: 266px;
}

.NFT-marketplace .unsplash-4 {
  height: 85px;
  left: 275px;
  position: absolute;
  top: 0;
  width: 104px;
}

.NFT-marketplace .unsplash-lpbydenbqqg-2 {
  height: 85px;
  left: 275px;
  position: absolute;
  top: 94px;
  width: 104px;
}

.NFT-marketplace .unsplash-5 {
  height: 85px;
  left: 275px;
  position: absolute;
  top: 187px;
  width: 104px;
}

.NFT-marketplace .group-34 {
  height: 64px;
  left: 0;
  position: absolute;
  top: 302px;
  width: 189px;
}

.NFT-marketplace .text-wrapper-108 {
  color: #000000;
  font-family: "DM Sans", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.NFT-marketplace .group-35 {
  height: 28px;
  left: 0;
  position: absolute;
  top: 36px;
  width: 107px;
}

.NFT-marketplace .text-wrapper-109 {
  color: #000000;
  font-family: "DM Sans", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 38px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
}

.NFT-marketplace .ellipse-10 {
  height: 28px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 28px;
}

.NFT-marketplace .frame-9 {
  align-items: center;
  border: 1px solid;
  border-color: #2539ec;
  border-radius: 60px;
  display: flex;
  gap: 4.58px;
  height: 29px;
  justify-content: center;
  left: 270px;
  padding: 10px 20px;
  position: absolute;
  top: 337px;
  width: 120px;

  color: #2539ec;
  font-family: "DM Sans", Helvetica;
  font-size: 11px;
  font-weight: 700;
  height: 14.67px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: none;
  transition: 0.3s;
}

.NFT-marketplace .frame-9:hover {
  background-color: #2539ec;
  color: #ffffff;
}

.NFT-marketplace .group-36 {
  height: 366px;
  left: 940px;
  position: absolute;
  top: 154px;
  width: 380px;
}

.NFT-marketplace .unsplash-6 {
  height: 272px;
  left: 0;
  position: absolute;
  top: 0;
  width: 266px;
}

.NFT-marketplace .unsplash-7 {
  height: 85px;
  left: 275px;
  position: absolute;
  top: 0;
  width: 104px;
}

.NFT-marketplace .unsplash-lpbydenbqqg-3 {
  height: 85px;
  left: 275px;
  position: absolute;
  top: 94px;
  width: 104px;
}

.NFT-marketplace .unsplash-8 {
  height: 85px;
  left: 275px;
  position: absolute;
  top: 187px;
  width: 104px;
}

.NFT-marketplace .group-37 {
  height: 64px;
  left: 0;
  position: absolute;
  top: 302px;
  width: 189px;
}

.NFT-marketplace .text-wrapper-111 {
  color: #000000;
  font-family: "DM Sans", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.NFT-marketplace .group-38 {
  height: 28px;
  left: 0;
  position: absolute;
  top: 36px;
  width: 107px;
}

.NFT-marketplace .text-wrapper-112 {
  color: #000000;
  font-family: "DM Sans", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 38px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
}

.NFT-marketplace .ellipse-11 {
  height: 28px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 28px;
}

.NFT-marketplace .frame-10 {
  align-items: center;
  border: 1px solid;
  border-color: #2539ec;
  border-radius: 60px;
  display: flex;
  gap: 4.58px;
  height: 29px;
  justify-content: center;
  left: 260px;
  padding: 10px 20px;
  position: absolute;
  top: 337px;
  width: 120px;

  color: #2539ec;
  font-family: "DM Sans", Helvetica;
  font-size: 11px;
  font-weight: 700;
  height: 14.67px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: none;
  transition: 0.3s;
}

.NFT-marketplace .frame-10:hover {
  background-color: #2539ec;
  color: #ffffff;
}