.NFT-marketplace .collection-over {
  height: 540px;
  left: 120px;
  position: absolute;
  top: 1188px;
  width: 1204px;
}

.NFT-marketplace .unsplash-fydgrakc {
  height: 424px;
  left: 0;
  position: absolute;
  top: 0;
  width: 400px;
}

.NFT-marketplace .group-9 {
  height: 48px;
  left: 0;
  position: absolute;
  top: 456px;
  width: 404px;
}

.NFT-marketplace .text-wrapper-66 {
  color: #000000;
  font-family: "DM Sans", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 58px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.NFT-marketplace .text-wrapper-67 {
  color: #363639;
  font-family: "DM Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 58px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 30px;
}

.NFT-marketplace .ellipse-5 {
  height: 48px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 48px;
}

.NFT-marketplace .group-10 {
  height: 45px;
  left: 309px;
  position: absolute;
  top: 0;
  width: 95px;
}

.NFT-marketplace .text-wrapper-68 {
  color: #3a3a3a;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 23px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 24px;
  width: 68px;
}

.NFT-marketplace .text-wrapper-69 {
  color: #3a3a3a;
  font-family: "DM Sans", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 65px;
}

.NFT-marketplace .ethereum-4 {
  height: 21px;
  left: 0;
  position: absolute;
  top: 24px;
  width: 13px;
}

.NFT-marketplace .group-11 {
  height: 147px;
  left: 453px;
  position: absolute;
  top: 0;
  width: 334px;
}

.NFT-marketplace .group-12 {
  background-image: url(../../../static/img/unsplash-8uzpyniu-rq.svg);
  background-size: 100% 100%;
  height: 147px;
  left: 0;
  position: absolute;
  top: 0;
  width: 147px;
}

.NFT-marketplace .group-13 {
  height: 128px;
  left: 167px;
  position: absolute;
  top: 10px;
  width: 171px;
}

.NFT-marketplace .text-wrapper-70 {
  color: #000000;
  font-family: "DM Sans", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.NFT-marketplace .text-wrapper-71 {
  color: #757575;
  font-family: "DM Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 133px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 42px;
}

.NFT-marketplace .ellipse-6 {
  height: 34px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 34px;
  width: 34px;
}

.NFT-marketplace .frame-4 {
  align-items: center;
  border: 1px solid;
  border-color: #00ac4f;
  border-radius: 6px;
  display: flex;
  gap: 5px;
  justify-content: center;
  left: 42px;
  padding: 8px;
  position: absolute;
  top: 35px;
  width: fit-content;
}

.NFT-marketplace .ethereum-5 {
  height: 14px;
  min-width: 8.53px;
  position: relative;
}

.NFT-marketplace .text-wrapper-72 {
  color: #00ac4f;
  font-family: "DM Sans", Helvetica;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.NFT-marketplace .CTA-place-a-bid {
  align-items: center;
  border: 2px solid;
  border-color: #3d00b7;
  border-radius: 50px;
  display: flex;
  gap: 10px;
  justify-content: center;
  left: 0;
  padding: 14px 20px;
  position: absolute;
  top: 83px;
  width: fit-content;

  color: #3d00b7;
  font-family: "Averta Demo PE Cutted Demo-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: none;
  transition: 0.3s;
}

.NFT-marketplace .CTA-place-a-bid:hover {
  background-color: #3d00b7;
  color: #ffffff;
}

.NFT-marketplace .group-14 {
  height: 147px;
  left: 453px;
  position: absolute;
  top: 188px;
  width: 334px;
}

.NFT-marketplace .group-15 {
  background-image: url(../../../static/img/unsplash-tyg0rvhotre.svg);
  background-size: 100% 100%;
  height: 147px;
  left: 0;
  position: absolute;
  top: 0;
  width: 147px;
}

.NFT-marketplace .group-16 {
  height: 128px;
  left: 167px;
  position: absolute;
  top: 10px;
  width: 171px;
}

.NFT-marketplace .text-wrapper-74 {
  color: #000000;
  font-family: "DM Sans", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.NFT-marketplace .text-wrapper-75 {
  color: #757575;
  font-family: "DM Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 133px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 42px;
}

.NFT-marketplace .ellipse-7 {
  height: 34px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 34px;
  width: 34px;
}

.NFT-marketplace .frame-5 {
  align-items: center;
  border: 1px solid;
  border-color: #00ac4f;
  border-radius: 6px;
  display: flex;
  gap: 5px;
  justify-content: center;
  left: 42px;
  padding: 8px;
  position: absolute;
  top: 35px;
  width: fit-content;
}

.NFT-marketplace .ethereum-6 {
  height: 14px;
  min-width: 8.53px;
  position: relative;
}

.NFT-marketplace .text-wrapper-76 {
  color: #00ac4f;
  font-family: "DM Sans", Helvetica;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.NFT-marketplace .CTA-place-a-bid-2 {
  align-items: center;
  border: 2px solid;
  border-color: #3d00b7;
  border-radius: 50px;
  display: flex;
  gap: 10px;
  justify-content: center;
  left: 0;
  padding: 14px 20px;
  position: absolute;
  top: 83px;
  width: fit-content;

  color: #220970;
  font-family: "Averta Demo PE Cutted Demo-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: none;
  transition: 0.3s;
}

.NFT-marketplace .CTA-place-a-bid-2:hover {
  background-color: #3d00b7;
  color: #ffffff;
}

.NFT-marketplace .group-17 {
  height: 147px;
  left: 453px;
  position: absolute;
  top: 376px;
  width: 334px;
}

.NFT-marketplace .group-18 {
  background-image: url(../../../static/img/unsplash-whj5l9kgtl4.svg);
  background-size: 100% 100%;
  height: 147px;
  left: 0;
  position: absolute;
  top: 0;
  width: 147px;
}

.NFT-marketplace .group-19 {
  height: 128px;
  left: 167px;
  position: absolute;
  top: 10px;
  width: 171px;
}

.NFT-marketplace .text-wrapper-78 {
  color: #000000;
  font-family: "DM Sans", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.NFT-marketplace .text-wrapper-79 {
  color: #757575;
  font-family: "DM Sans", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 133px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 42px;
}

.NFT-marketplace .ellipse-8 {
  height: 34px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 34px;
  width: 34px;
}

.NFT-marketplace .frame-6 {
  align-items: center;
  border: 1px solid;
  border-color: #00ac4f;
  border-radius: 6px;
  display: flex;
  gap: 5px;
  justify-content: center;
  left: 42px;
  padding: 8px;
  position: absolute;
  top: 35px;
  width: fit-content;
}

.NFT-marketplace .ethereum-7 {
  height: 14px;
  min-width: 8.53px;
  position: relative;
}

.NFT-marketplace .text-wrapper-80 {
  color: #00ac4f;
  font-family: "DM Sans", Helvetica;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.NFT-marketplace .CTA-place-a-bid-3 {
  align-items: center;
  border: 2px solid;
  border-color: #3d00b7;
  border-radius: 50px;
  display: flex;
  gap: 10px;
  justify-content: center;
  left: 0;
  padding: 14px 20px;
  position: absolute;
  top: 83px;
  width: fit-content;

  color: #220970;
  font-family: "Averta Demo PE Cutted Demo-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: none;
  transition: 0.3s;
}

.NFT-marketplace .CTA-place-a-bid-3:hover {
  background-color: #3d00b7;
  color: #ffffff;
}

.NFT-marketplace .text-wrapper-81 {
  -webkit-text-stroke: 0.2px #220970;
  color: #220970;
  font-family: "Averta Demo PE Cutted Demo-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-left: -0.2px;
  margin-top: -2.2px;
  position: relative;
  width: fit-content;
}

.NFT-marketplace .text-wrapper-82 {
  color: #000000;
  font-family: "Integral CF-Bold", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 877px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.NFT-marketplace .text-wrapper-83 {
  color: #3d00b7;
  font-family: "DM Sans", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 881px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 34px;
}

.NFT-marketplace .line-4 {
  height: 540px;
  left: 839px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1px;
}

.NFT-marketplace .group-20 {
  height: 66px;
  left: 881px;
  position: absolute;
  top: 89px;
  width: 319px;
}

.NFT-marketplace .overlap-13 {
  height: 66px;
  left: 31px;
  position: absolute;
  top: 0;
  width: 66px;
}

.NFT-marketplace .unsplash-krvudbobc {
  height: 60px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 60px;
}

.NFT-marketplace .verify {
  height: 32px;
  left: 34px;
  position: absolute;
  top: 0;
  width: 32px;
}

.NFT-marketplace .overlap-group-5 {
  height: 27px;
  left: 3px;
  position: relative;
  top: 3px;
  width: 27px;
}

.NFT-marketplace .rectangle {
  background-color: #ffffff;
  height: 11px;
  left: 5px;
  position: absolute;
  top: 7px;
  width: 16px;
}

.NFT-marketplace .vector {
  height: 27px;
  left: 0;
  position: absolute;
  top: 0;
  width: 27px;
}

.NFT-marketplace .text-wrapper-84 {
  color: #000000;
  font-family: "DM Sans", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 0;
  letter-spacing: -0.6px;
  line-height: 24.7px;
  position: absolute;
  text-align: center;
  top: 20px;
  white-space: nowrap;
}

.NFT-marketplace .text-wrapper-85 {
  color: #000000;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 114px;
  letter-spacing: -0.4px;
  line-height: 16.5px;
  position: absolute;
  top: 10px;
  white-space: nowrap;
}

.NFT-marketplace .text-wrapper-86 {
  color: #13c7b0;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 232px;
  letter-spacing: -0.5px;
  line-height: 20.6px;
  position: absolute;
  text-align: right;
  top: 26px;
  white-space: nowrap;
}

.NFT-marketplace .group-21 {
  height: 24px;
  left: 114px;
  position: absolute;
  top: 36px;
  width: 84px;
}

.NFT-marketplace .text-wrapper-87 {
  color: #626262;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 21px;
  letter-spacing: -0.35px;
  line-height: 14.4px;
  position: absolute;
  top: 5px;
  white-space: nowrap;
}

.NFT-marketplace .ethereum-8 {
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  width: 15px;
}

.NFT-marketplace .group-22 {
  height: 60px;
  left: 879px;
  position: absolute;
  top: 187px;
  width: 322px;
}

.NFT-marketplace .unsplash-ftqnfucq {
  height: 60px;
  left: 34px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 60px;
}

.NFT-marketplace .text-wrapper-88 {
  color: #000000;
  font-family: "DM Sans", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 0;
  letter-spacing: -0.6px;
  line-height: 24.7px;
  position: absolute;
  text-align: center;
  top: 14px;
  white-space: nowrap;
}

.NFT-marketplace .text-wrapper-89 {
  color: #000000;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 117px;
  letter-spacing: -0.4px;
  line-height: 16.5px;
  position: absolute;
  top: 4px;
  white-space: nowrap;
}

.NFT-marketplace .text-wrapper-90 {
  color: #ff002d;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 239px;
  letter-spacing: -0.5px;
  line-height: 20.6px;
  position: absolute;
  text-align: right;
  top: 20px;
  white-space: nowrap;
}

.NFT-marketplace .group-23 {
  height: 24px;
  left: 117px;
  position: absolute;
  top: 30px;
  width: 79px;
}

.NFT-marketplace .text-wrapper-91 {
  color: #626262;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 21px;
  letter-spacing: -0.35px;
  line-height: 14.4px;
  position: absolute;
  top: 5px;
  white-space: nowrap;
}

.NFT-marketplace .ethereum-9 {
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  width: 15px;
}

.NFT-marketplace .group-24 {
  height: 60px;
  left: 879px;
  position: absolute;
  top: 279px;
  width: 322px;
}

.NFT-marketplace .unsplash-mtfxyvvgm {
  height: 60px;
  left: 34px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 60px;
}

.NFT-marketplace .text-wrapper-92 {
  color: #000000;
  font-family: "DM Sans", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 0;
  letter-spacing: -0.6px;
  line-height: 24.7px;
  position: absolute;
  text-align: center;
  top: 14px;
  white-space: nowrap;
}

.NFT-marketplace .text-wrapper-93 {
  color: #000000;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 117px;
  letter-spacing: -0.4px;
  line-height: 16.5px;
  position: absolute;
  top: 4px;
  white-space: nowrap;
}

.NFT-marketplace .text-wrapper-94 {
  color: #13c7b0;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 247px;
  letter-spacing: -0.5px;
  line-height: 20.6px;
  position: absolute;
  text-align: right;
  top: 20px;
  white-space: nowrap;
}

.NFT-marketplace .group-25 {
  height: 24px;
  left: 117px;
  position: absolute;
  top: 30px;
  width: 79px;
}

.NFT-marketplace .text-wrapper-95 {
  color: #626262;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 21px;
  letter-spacing: -0.35px;
  line-height: 14.4px;
  position: absolute;
  top: 5px;
  white-space: nowrap;
}

.NFT-marketplace .ethereum-10 {
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  width: 15px;
}

.NFT-marketplace .group-26 {
  height: 66px;
  left: 879px;
  position: absolute;
  top: 371px;
  width: 323px;
}

.NFT-marketplace .overlap-14 {
  height: 66px;
  left: 35px;
  position: absolute;
  top: 0;
  width: 66px;
}

.NFT-marketplace .unsplash-zkntmikuuo {
  height: 60px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 60px;
}

.NFT-marketplace .verify-2 {
  height: 32px;
  left: 34px;
  position: absolute;
  top: 0;
  width: 32px;
}

.NFT-marketplace .overlap-group-6 {
  height: 27px;
  left: 3px;
  position: relative;
  top: 3px;
  width: 27px;
}

.NFT-marketplace .rectangle-2 {
  background-color: #ffffff;
  height: 11px;
  left: 5px;
  position: absolute;
  top: 7px;
  width: 16px;
}

.NFT-marketplace .vector-2 {
  height: 27px;
  left: 0;
  position: absolute;
  top: 0;
  width: 27px;
}

.NFT-marketplace .text-wrapper-96 {
  color: #000000;
  font-family: "DM Sans", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 0;
  letter-spacing: -0.6px;
  line-height: 24.7px;
  position: absolute;
  text-align: center;
  top: 20px;
  white-space: nowrap;
}

.NFT-marketplace .text-wrapper-97 {
  color: #000000;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 118px;
  letter-spacing: -0.4px;
  line-height: 16.5px;
  position: absolute;
  top: 10px;
  white-space: nowrap;
}

.NFT-marketplace .text-wrapper-98 {
  color: #13c7b0;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 252px;
  letter-spacing: -0.5px;
  line-height: 20.6px;
  position: absolute;
  text-align: right;
  top: 26px;
  white-space: nowrap;
}

.NFT-marketplace .group-27 {
  height: 24px;
  left: 118px;
  position: absolute;
  top: 36px;
  width: 79px;
}

.NFT-marketplace .text-wrapper-99 {
  color: #626262;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 21px;
  letter-spacing: -0.35px;
  line-height: 14.4px;
  position: absolute;
  top: 5px;
  white-space: nowrap;
}

.NFT-marketplace .ethereum-11 {
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  width: 15px;
}

.NFT-marketplace .group-28 {
  height: 60px;
  left: 879px;
  position: absolute;
  top: 469px;
  width: 322px;
}

.NFT-marketplace .unsplash-wjib {
  height: 60px;
  left: 34px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 60px;
}

.NFT-marketplace .text-wrapper-100 {
  color: #000000;
  font-family: "DM Sans", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 0;
  letter-spacing: -0.6px;
  line-height: 24.7px;
  position: absolute;
  text-align: center;
  top: 14px;
  white-space: nowrap;
}

.NFT-marketplace .text-wrapper-101 {
  color: #000000;
  font-family: "DM Sans", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 117px;
  letter-spacing: -0.4px;
  line-height: 16.5px;
  position: absolute;
  top: 4px;
  white-space: nowrap;
}

.NFT-marketplace .text-wrapper-102 {
  color: #ff002d;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 247px;
  letter-spacing: -0.5px;
  line-height: 20.6px;
  position: absolute;
  text-align: right;
  top: 20px;
  white-space: nowrap;
}

.NFT-marketplace .group-29 {
  height: 24px;
  left: 117px;
  position: absolute;
  top: 30px;
  width: 85px;
}

.NFT-marketplace .text-wrapper-103 {
  color: #626262;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 21px;
  letter-spacing: -0.35px;
  line-height: 14.4px;
  position: absolute;
  top: 5px;
  white-space: nowrap;
}

.NFT-marketplace .ethereum-12 {
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  width: 15px;
}

.NFT-marketplace .line-5 {
  height: 1px;
  left: 875px;
  object-fit: cover;
  position: absolute;
  top: 170px;
  width: 325px;
}

.NFT-marketplace .line-6 {
  height: 1px;
  left: 875px;
  object-fit: cover;
  position: absolute;
  top: 262px;
  width: 325px;
}

.NFT-marketplace .line-7 {
  height: 1px;
  left: 875px;
  object-fit: cover;
  position: absolute;
  top: 354px;
  width: 325px;
}

.NFT-marketplace .line-8 {
  height: 1px;
  left: 875px;
  object-fit: cover;
  position: absolute;
  top: 452px;
  width: 325px;
}