.tab-active {
    align-items: center;
    background-color: #3d00b7;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    padding: 10px 20px;
    position: relative;
    width: fit-content;
  }
  
  .tab-active .all-categories {
    color: #ffffff;
    font-family: "DM Sans", Helvetica;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 17.5px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  